@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");

.transitionDiv {
  height: 100px;
  width: 200px;
  margin: 0 auto;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.kep-login-facebook {
  background-color: white !important;
  border: none !important;
  color: #066cd2 !important;
  font-family: "Signika", sans-serif !important;
  padding: 0.3rem 1.3rem 0.3rem 0.3rem !important;
  font-weight: normal !important;
  text-transform: lowercase !important;
  font-size: 0.9rem !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Signika", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
