.d-spinner {
  animation-duration: 2.4s;
  animation-timing-function: cubic-bezier(0, 1, 0.3, 1);
  animation-direction: normal;
  animation-iteration-count: infinite;
  transform-origin: left bottom;
}

.d-spinner.d-spinner__one {
  animation-name: dSpinnerOne;
  fill: #9967ce;
}

.d-spinner.d-spinner__two {
  animation-name: dSpinnerTwo;
  fill: #bb93e5;
}

.d-spinner.d-spinner__three {
  animation-name: dSpinnerThree;
  fill: #e9d4ff;
}

.d-spinner.d-spinner__four {
  animation-name: dSpinnerFour;
  fill: #fefefe;
}

@keyframes dSpinnerOne {
  0% {
    opacity: 0;
    fill: #bb93e5;
    transform: rotateZ(-65deg) scale(0.6);
  }

  7% {
    opacity: 1;
    fill: #bb93e5;
    transform: rotateZ(0) scale(1);
  }

  57% {
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
    fill: #9967ce;
  }

  74% {
    opacity: 1;
    transform: rotateZ(0) scale(1);
    animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }

  83% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }

  100% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
}

@keyframes dSpinnerTwo {
  0% {
    opacity: 0;
    transform: rotateZ(-65deg) scale(0.6);
  }

  3% {
    opacity: 0;
    fill: #d0b6eb;
    transform: rotateZ(-65deg) scale(0.6);
  }

  10% {
    opacity: 1;
    fill: #d0b6eb;
    transform: rotateZ(0) scale(1);
  }

  60% {
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
    fill: #bb93e5;
  }

  71% {
    opacity: 1;
    transform: rotateZ(0) scale(1);
    animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }

  79% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }

  100% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
}

@keyframes dSpinnerThree {
  0% {
    opacity: 0;
    transform: rotateZ(-65deg) scale(0.6);
  }

  6% {
    opacity: 0;
    fill: white;
    transform: rotateZ(-65deg) scale(0.6);
  }

  13% {
    opacity: 1;
    fill: white;
    transform: rotateZ(0) scale(1);
  }

  63% {
    fill: #e9d4ff;
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
  }

  68% {
    opacity: 1;
    transform: rotateZ(0) scale(1);
    animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }

  76% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }

  100% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
}

@keyframes dSpinnerFour {
  0% {
    opacity: 0;
    transform: rotateZ(-65deg) scale(0.6);
  }

  9% {
    opacity: 0;
    fill: white;
    transform: rotateZ(-65deg) scale(0.6);
  }

  16% {
    opacity: 1;
    fill: white;
    transform: rotateZ(0) scale(1);
  }

  64% {
    fill: #fdf6ff;
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
  }

  65% {
    opacity: 1;
    transform: rotateZ(0) scale(1);
    animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }

  73% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }

  100% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
}
